{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, dolore consectetur. Facilis asperiores aut beatae molestiae maxime! Ducimus fugiat placeat nesciunt architecto veritatis nihil dolorum ut reiciendis repudiandae amet nam similique itaque corporis sequi, ipsa voluptatibus saepe ex ipsam porro beatae eveniet! Quibusdam porro quia dignissimos voluptatem fugiat consequatur provident voluptas error quos ab sint illum deleniti at animi ratione corrupti molestiae, fugit ut necessitatibus minus, dolore commodi. Consequatur maxime ea libero totam porro excepturi repellendus labore quos deleniti modi voluptatibus asperiores, itaque eveniet illum tenetur repellat possimus harum cumque quaerat natus. A vel nesciunt temporibus error voluptas odio voluptatem.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}
